
.login-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    justify-content: center; 
    align-items: center;  
    text-align: center;
}

.login-left, .login-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.login-heading {
    font-size: 2em;
    margin-bottom: 10px;
}

.login-subheading {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.login-button {
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #F5F5F5;
    color: white;
    cursor: pointer;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.login-button:hover {
    border: 1px solid #1ed760;
}

.login-right {
    height: 300px;
    width: 300px;
    margin: 20px;
    box-sizing: border-box;
}

.login-image{
    height: 25rem;
    width: 25rem;
}

.spotify-image{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.button_title{
    font-size: 0.8em;
    color: #000;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */

@media screen and (max-width: 1290px) {
   
}

@media screen and (max-width: 992px) {
    .login-left{
        padding: 3rem;
    }

    .login-right{
        padding: 1.5rem;
    }

    .login-image{
        height: 20rem;
        width: 20rem;
    }
    
}

/* For medium devices */


@media screen and (max-width: 768px) {
    .login-container {
        flex-direction: column-reverse; 
    }
    
    .login-right {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    

    .login-left {
        margin-top: 0;
        padding-top: 0;
    }
}

@media screen and (max-width: 576px) {
    .login-heading {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    
    .login-subheading {
        font-size: 0.9em;
        margin-bottom: 20px;
    }

    .login-left {
        margin-top: 0;
        padding-top: 0;
    }
} 

/* For small devices */

@media screen and (max-width: 400px) {

    .login-left, .login-right {
        margin: 0px;
        padding: 0;
        height: fit-content;
    }
}
