body, html {
    margin: 0; 
    height: 100%;
    overflow: hidden; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; 
    margin: 0; 
    flex-direction: column;
}

.globe-container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
}

.share-button {
    padding: 14px 51px; 
    border-radius: 50px;
    font-size: 1.2em;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
}

.share-button:hover {
    color: #1ed760;
    border: 2px solid #1ed760;
}

.globe_heading {
    top: 50px;
    position: absolute;
    color: white;
    font-size: 1.5em;
}

.logout {
    font-size: 0.9em;
    color: #fff;
}

.logout:hover {
    cursor: pointer;
}

.bottom_container {
    position: absolute;
    bottom: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


@media (max-width: 768px) {
    .globe-container {
        width: 90%;
        height: 60%;
    }
}
